@import 'src/styles/universal/variables';

.claim-referral-banner {
  padding: 5rem 0;
  background-color: gray;
  background-image: url('https://natured.s3.amazonaws.com/imgix/static/groceries-overhead.jpg?auto=compress');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  .referral-banner-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .referral-introduction {
    width: 50%;
    background-color: rgba(white, .8);
    padding: 5rem;
    border-radius: $border-radius;
  }

  .referral-registration {
    width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: $border-radius;
    background-color: white;
  }

  .paragraph {
    padding-bottom: 3rem;
  }


}
