.progress-bar {
  text-align: center;
  border-top: $border;

  .progress-bar__holder {
    width: 100%;
    height: 5px;
    position: relative;
  }

  .progress-bar__fill {
    position: absolute;
    height: 100%;
    transition: width 1s;
  }

  &.is-primary {
    .progress-bar__holder { background-color: darken($primary-bg, 3%); }
    .progress-bar__fill { background-color: $primary; }
  }
}
