@mixin underline($height, $color) {
  height: $height;
  background: $color;
  content: "";
  position: absolute;
  display: block;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -.3ch;
}

@mixin serif() {
  font-family: $font-family-serif !important;
}

.serif {
  @include serif();
}

@mixin centered() {
  text-align: center;
}

.centered { @include centered(); }

@mixin h3() {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

@mixin h6() {
  font-size: 12.48px;
  font-size: .78rem;
  line-height: 1.6;
}

h6, .h6 { @include h6(); }

@mixin content-copy()  {
  font-size: 1.3125rem;
  line-height: 1.5;
  letter-spacing: .5;
  color: $font-color-light;
}

.caps {
  @include transition();
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .78rem;
  line-height: 1.6;
  font-weight: 600;
}

.standard-paragraph {
  font-size: 1rem;
}

.gray__copy {
  font-size: 18px;
  color: $light-gray;
  font-weight: 500;
  letter-spacing: .5;
}

.light-gray__copy {
  font-size: 18px;
  color: $lightest-gray;
}

.content-copy {
  @include content-copy();
}

.serif-copy {
  @include content-copy();
  font-family: $font-family-serif !important;
  font-weight: 100;
}

.clipped-text {
   background-attachment: fixed;
   background-color: #0fa000;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 24vw;
  font-weight: bold;
  text-align: center;
  background-size: cover;
  margin: 0 auto;

  @media (min-width: 900px) {
    font-size: 16vw;
  }

  @media (min-width: 1400px) {
    font-size: 256px;
    line-height: .9;
  }
}

h1.serif {
  font-weight: bold;
  font-family: $font-family-serif !important;
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}


.line-through {
  @include flex-center();

  &::before { margin-right: 10px; }

  &::after { margin-left: 10px; }

  &::before, &::after {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 1px;
    background-color: $lightest-gray;
    content: '';
  }
}


@mixin market-dual-top() {
  color: $black;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s ease;
}

@mixin market-dual-bottom() {
  color: $font-color-light;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
}

@mixin ellipsis-overflow($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
