.checkout__page {
  display: flex;
}

.checkout__steps {
  @include outer-padding();
  width: 62%;
  > div {
    @include vertical-space();
  }
}

.checkout__overview {
  @include outer-padding();
  background-color: $gray-bg;
  border-left: $border;
  min-height: 100%;
  width: 38%;
  > div { @include vertical-space(); }
}

.checkout__steps-list {
  @include vertical-space();
  @include flex-start();
  margin: 0;
  .anticon {
    font-size: 10px;
    padding: 0 30px;
  }
}

.checkout__step {
  color: $font-color-light;

  &.is-active {
    font-weight: bold;
    color: $primary;
  }
}


.checkout__decision {
  min-height: calc(100% - 128px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  margin: auto;

  .line-through {
    padding: 2em 0;
  }
}
