$footer-height: 415px;

$footer-content-height: 288px;
$subfooter-height: 52px;
$total-height: calc(#{$footer-content-height} + #{$subfooter-height});

$padding-0: 72px;
$padding-1: 64px;
$padding-2: 48px;
$padding-3: 32px;

.reveal-page {
  margin-bottom: calc(#{$total-height} + (2 * #{$padding-1}));
  border-bottom: $border;

  @media (min-width: $breakpoint-0) {
    margin-bottom: calc(#{$total-height} + (2 * #{$padding-0}));
  }
}

footer {
  background-color: $white;
  color: $font-color;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -1;

  height: calc(#{$total-height} + (2 * #{$padding-1}));
  @media (min-width: $breakpoint-0) {
    height: calc(#{$total-height} + (2 * #{$padding-0}));
  }
}

.footer {
  padding: $padding-1 0;
  @media (min-width: $breakpoint-0) {
    padding: $padding-0 0;
  }
}

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@mixin contact-padding($padding) {
  padding-left: calc(#{$padding} * 2);
  padding-right: $padding;
}

.footer__contact {
  @include flex-center();
  border-left: $border;
  height: $footer-content-height;

  @include contact-padding($padding-3);
  @media (min-width: $breakpoint-2) { @include contact-padding($padding-2); }
  @media (min-width: $breakpoint-1) { @include contact-padding($padding-1); }
  @media (min-width: $breakpoint-0) { @include contact-padding($padding-0); }

  .footer__header {
    text-align: center;
  }

  .footer__link {
    @include flex-center();
    justify-content: flex-start;
    opacity: 1;
    margin-bottom: 15px;

    .circled {
      @include transition();
      background-color: $primary-bg;
      margin-right: 15px;
    }

    span {
      @include transition();
      opacity: 0.5;
      min-width: 120px; // Based on the phone # width
    }

    &:hover {
      span {
        opacity: 1;
      }
      .circled {
        background-color: darken($primary-bg, 5%);
      }
    }
  }
}

.footer__header {
  @extend .caps;
  font-weight: 600;
  margin-bottom: 1em;

  &:first-child {
    margin-top: 0;
  }
}

.footer__link {
  @include transition();
  color: $black;
  font-weight: 500;
  line-height: 1.6;
  opacity: 0.5;
  margin-bottom: 10px;

  span { width: 100%; }

  &:hover {
    opacity: 1;
  }
}

.subfooter {
  padding: 16px 0;
  background-color: $gray-bg;
  color: $font-color;
  font-size: 12px;
  font-weight: 500;
}

.subfooter__legal a:hover {
  text-decoration: underline;
}

.subfooter__legal > * {
  padding: 0 16px;
  border-right: 1px solid rgba(0,0,0,0.2);

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    border-right: none;
  }
}

.subfooter__content {
  @include outer-padding();
  @include space-between();
}

.subfooter__social {
  font-size: 20px;
  > *:last-child {
    .anticon {
      padding-right: 0;
    }
  }

  .anticon {
    padding-right: 30px;
    &:hover { color: $primary; }
  }
}

.footer__container {
  @include outer-padding();
  @include space-between();
  align-items: flex-start;
}

.footer__section {
  display: flex;
  flex-direction: column;
  flex: 2;
}


@media (max-width: 950px) {
  .reveal-page {
    margin-bottom: 484px;
  }

  footer {
    height: auto;
  }

  .footer {
    padding: 16px 32px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 16px;

    .footer__section { flex: inherit; }
  }

  .footer__contact {
    height: auto;
    padding: 0;
    border: none;
    width: 100%;
    border-top: $border;
    .footer__section { padding: 16px 0 0 0; }
    .footer__header { text-align: left; }
  }

  .footer__contact-links {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .reveal-page {
    margin-bottom: 527px;
  }

  .footer {
    padding: 16px 16px 0 16px;
  }

  .footer__section {
    &.hide { display: none; }
    &.left { text-align: left; }
    &.right { text-align: right; }
  }

  .footer__link {
    margin-bottom: 5px;
  }

  .subfooter__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .subfooter__social {
    display: none;
  }

  .subfooter__legal {
    display: block;
    padding-top: 0;
    font-size: 11px;
  }

  .footer__contact {
    .footer__section {
      align-items: center;
      border-bottom: $border;
    }
  }

  .footer__contact-links {
    flex-direction: column;
    align-items: flex-start;
  }

}
